button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: aqua;
    border:1px solid #000;
    border-radius: 100px;
    cursor: pointer;
}